Repository wavesplatform/gowaves, pull requests merged in 2024-11, with the labels that each got.

#1529 Refactored a bit main function of 'importer' utility.
  cmd/importer/importer.go
Labels: refactoring

#1536 Add node deploy workflow
  .github/workflows/deploy_node.yml
  .github/workflows/deploy_nodes.yml
  .github/workflows/go.yml
  Makefile
Labels: enhancement, github_actions

#1537 Deploy workflow fix
  .github/workflows/deploy_node.yml
Labels: bug, github_actions

#1540 Fix deploy nodes reusable workflow
  .github/workflows/deploy_node.yml
  .github/workflows/deploy_nodes.yml
Labels: bug, github_actions

#1548 Handle blockchain import errors properly
  cmd/importer/importer.go
Labels: enhancement

#1550 Check on leasing state added.
  pkg/proto/actions_validator.go
  pkg/state/invoke_applier.go
  pkg/state/invoke_applier_test.go
  pkg/state/snapshot_generator_internal_test.go
Labels: bug
