Repository wavesplatform/gowaves, pull requests merged in 2024-09, with the labels that each got.

#1481 Rollback gosec GH action to previous version v2.21.0.
  .github/workflows/security.yml
Labels: github_actions

#1487 Bump golang.org dependencies.
  go.mod
  go.sum
Labels: dependencies, go

#1494 Blockchain settings no globals
  cmd/genesis/genesis.go
  itests/config/genesis_settings.go
  pkg/consensus/blocks_validation_internal_test.go
  pkg/grpc/server/accounts_api_test.go
  pkg/grpc/server/blockchain_api_test.go
  pkg/grpc/server/blocks_api_test.go
  pkg/grpc/server/common_test.go
  pkg/grpc/server/transactions_api_test.go
  pkg/miner/utxpool/pool_test.go
  pkg/miner/utxpool/transaction_bulk_validator_test.go
  pkg/settings/blockchain_settings.go
  pkg/state/address_transactions_test.go
  pkg/state/block_differ_test.go
  pkg/state/common_test.go
  pkg/state/diff_applier_test.go
  pkg/state/ethereum_tx_test.go
  pkg/state/features_test.go
  pkg/state/fee_validation_test.go
  pkg/state/headers_validation_test.go
  pkg/state/invoke_applier_test.go
  pkg/state/monetary_policy_test.go
  pkg/state/rewards_calculator_test.go
  pkg/state/snapshot_generator_internal_test.go
  pkg/state/sponsored_assets_test.go
  pkg/state/state_test.go
  pkg/state/transaction_checker_test.go
  pkg/state/transaction_differ_test.go
  pkg/state/transaction_performer_test.go
Labels: refactoring

#1495 Upload 'itest' configs as CI artifact.
  .github/workflows/go.yml
  .github/workflows/itests.yml
  .github/workflows/itests_race.yml
Labels: github_actions

#1500 JSON serialization of BinaryArgument type of FunctionCall forced to B…
  cmd/convert/main.go
  pkg/proto/transactions_test.go
  pkg/proto/types.go
  pkg/proto/types_test.go
Labels: bug, enhancement

#1503 GolangCI-Lint updated to version v1.61.0.
  .github/workflows/go.yml
Labels: github_actions

#1501 Removed reusing error variables in 'stateManager'.
  pkg/state/appender.go
  pkg/state/state.go
Labels: refactoring

#1504 Use 'securego/gosec@d4617f5' action.
  .github/workflows/security.yml
Labels: dependencies, github_actions

#1505 Bump securego/gosec from d4617f5 to 2.21.4
  .github/workflows/security.yml
Labels: dependencies, github_actions
