Repository wavesplatform/gowaves, pull requests merged in 2025-03, with the labels that each got.

#1627 Update semgrep job of security CI workflow.
  .github/workflows/security.yml
Labels: github_actions

#1628 Fix wrong error return
  pkg/state/block_differ.go
  pkg/state/invoke_applier.go
  pkg/state/state.go
  pkg/state/test_util.go
  pkg/state/transaction_checker.go
Labels: bug

#1633 Exclude 'gitlab.gosec' ruleset from semgrep CI job.
  .github/workflows/security.yml
Labels: github_actions

#1629 Add semgrep rules for wrong error return
  .github/workflows/security.yml
  .semgrep/rules/if-incorrect-nil-err-return.yaml
  .semgrep/rules/if-inplace-func-incorrect-nil-err-return.yaml
Labels: github_actions

#1644 Migrate to golangci-lint v2
  .github/workflows/go.yml
  .gitignore
  .golangci-strict.yml
  .golangci.yml
  cmd/blockcmp/blockcmp.go
  cmd/genesis/genesis.go
  cmd/importer/importer.go
  cmd/node/node.go
  cmd/retransmitter/retransmit/behaviour.go
  cmd/rollback/main.go
  cmd/statehash/statehash.go
  cmd/wmd/internal/state/trades.go
  itests/burn_tx_api_internal_test.go
  itests/burn_tx_internal_test.go
  itests/clients/node_client.go
  itests/utilities/assertions.go
  pkg/crypto/internal/edwards25519.go
  pkg/crypto/vxeddsa.go
  pkg/keyvalue/bloom_filter.go
  pkg/keyvalue/common.go
  pkg/keyvalue/leveldb.go
  pkg/miner/micro_miner.go
  pkg/miner/scheduler/scheduler.go
  pkg/node/blocks_applier/blocks_applier.go
  pkg/node/blocks_applier/node_mocks.go
  pkg/node/fsm/ng_state.go
  pkg/proto/block.go
  pkg/proto/proto_test.go
  pkg/proto/transaction_validators.go
  pkg/proto/transactions_with_proofs.go
  pkg/proto/transactions_with_sig.go
  pkg/proto/types.go
  pkg/ride/compiler/ast_parser.go
  pkg/ride/converters_test.go
  pkg/ride/environment.go
  pkg/ride/generate/internal/coder.go
  pkg/state/address_transactions.go
  pkg/state/api.go
  pkg/state/assets.go
  pkg/state/block_differ.go
  pkg/state/block_differ_test.go
  pkg/state/blockreadwriter.go
  pkg/state/common_test.go
  pkg/state/headers_validation_test.go
  pkg/state/invoke_applier.go
  pkg/state/monetary_policy_test.go
  pkg/state/snapshot_applier.go
  pkg/state/snapshot_generator.go
  pkg/state/state.go
  pkg/state/state_test.go
  pkg/state/transaction_differ.go
  pkg/wallet/embedded_wallet.go
  pkg/wallet/embedded_wallet_test.go
  pkg/wallet/err.go
Labels: enhancement, github_actions

#1648 Improve local semgrep rules
  .semgrep/rules/if-incorrect-nil-err-return.yaml
  .semgrep/rules/if-inplace-func-incorrect-nil-err-return.yaml
Labels: enhancement
